<div class="slide">
  <div class="teamContent">
    <div class="teamImage">
      <img src="//via.placeholder.com/300x300" alt="img" class="img-circle">
      <!-- <div class="maskingContent">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        </ul>
      </div> -->
    </div>
    <div class="teamInfo">
      <h3>{{include.name}}</h3>
      <p>age: {{include.age}}</p>
    </div>
  </div>
</div>