<!-- HEADER -->
<header id="pageTop" class="header-wrapper">
  {% include color-bar.html %}
  <!-- NAVBAR -->
  <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="//via.placeholder.com/332x102" alt="Kidz School"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="color-1">
            <a href="/" role="button">
              <i class="fa fa-home bg-color-1" aria-hidden="true"></i>
              <span class="active">Home</span>
            </a>
          </li>
          <li class="color-2">
            <a href="/games" role="button">
              <i class="fa fa-cubes bg-color-2" aria-hidden="true"></i>
              <span class="active">Games</span>
            </a>
          </li>
          <li class="color-4">
            <a href="/about" role="button">
              <i class="fa fa-info bg-color-4" aria-hidden="true"></i>
              <span>About</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>