.ph0 { padding-left: 0; padding-right: 0; }
.pl0 { padding-left: 0; }
.pr0 { padding-right: 0; }

// Colors
.color-yellow { @extend .color-1; }
.bg-color-yellow { @extend .bg-color-1; }
.border-color-yellow { @extend .border-color-1; }
.color-green { @extend .color-2; }
.bg-color-green { @extend .bg-color-2; }
.border-color-green { @extend .border-color-2; }
.color-red { @extend .color-3; }
.bg-color-red { @extend .bg-color-3; }
.border-color-red { @extend .border-color-3; }
.color-blue { @extend .color-4; }
.bg-color-blue { @extend .bg-color-4; }
.border-color-blue { @extend .border-color-4; }
.color-purple { @extend .color-5; }
.bg-color-purple { @extend .bg-color-5; }
.border-color-purple { @extend .border-color-5; }
.color-pink { @extend .color-6; }
.bg-color-pink { @extend .bg-color-6; }
.border-color-pink { @extend .border-color-6; }

/* Theme Overrides */
#backToTop {
  z-index: 9999;
}
.media-body {
  .list-inline.btnPart {
    &.btn-color-1 {
      @extend .btn-yellow;
    }
    &.btn-color-2 {
      @extend .btn-green;
    }
    &.btn-color-3 {
      @extend .btn-red;
    }
    &.btn-color-4 {
      @extend .btn-sky;
    }
    &.btn-color-5 {
      @extend .btn-purple
    }
    &.btn-color-6 {
      @extend .btn-pink
    }
  }
}

.pageTitleSection {
  background-image: url("//via.placeholder.com/1920x250");
	.pageTitleInfo {
    .breadcrumb {
      > li + li::before {
        color: $white-color;
      }
    }
  }
}

.sectionTitle {
	h2 {
    .color-1 { color: $color1; }
    .color-2 { color: $color2; }

    span.bg-color-1,
    span.bg-color-1:after,
    span.bg-color-1:before {
      background-color: lighten( $color1, 7% ) !important;
    }

    span.bg-color-2,
    span.bg-color-2:after,
    span.bg-color-2:before {
      background-color: lighten( $color2, 7% ) !important;
    }
  }
}

.singleBlog {
  h1 {
    color: $color1;
    line-height: 34px;
    font-family: 'Dosis', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0 0 15px 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: normal;
    display: block;
  }
  h2 {
    color: $color3;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
  }
  h5 {
    text-transform: uppercase;
  }
  p {
    margin-bottom: 15px !important;
  }
  ul.blogInfo {
    margin-bottom: 15px !important;
    
  }
  section.content {
    ul{
      list-style-position: inside;
      padding-left:15px;
      margin-bottom: 15px;
      li{
        color: $text-color;
        list-style-type: disc;
      }
    }
  }
}

.teamInfo {
	h3 {
    color: #222;
  }
}

.bg-pattern-light {
	background-image: url("/img/site/pattern-light.png");
	width: 100%;
	background-repeat: repeat;
	height: auto;
}

.testimonialArea {
  .container {
    @include mobile-xs {
      & {
        padding-left: 0;
        padding-right: 0;
      }
    }
    width: auto;
  }
  .testimonial-grid {
    display: flex;
    float: none;
    @include mobile {
      align-items: center;
      flex-direction: column;
    }
    @include desktops {
      justify-content: center;
      flex-direction: row;
    }

    .testimonialContent {
      h3 { color: $white-color; }
    }
  }
}