<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board Family{% if page.title %} | {{ page.title }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/vendor/jquery-ui/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/vendor/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/vendor/selectbox/select_option1.css">
  <link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/vendor/isotope/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="/vendor/isotope/isotope.css">

  <!-- CUSTOM CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/default.css" id="option_color">

  <!-- FONTS -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="shortcut icon" href="img/favicon.png">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="body-wrapper">
  <div class="main-wrapper">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>
  
  <div class="scrolling">
    <a href="#pageTop" class="backToTop hidden-xs" id="backToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </div>

  <script src="/vendor/jquery/jquery-min.js"></script>
  <script src="/vendor/jquery-ui/jquery-ui.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/vendor/selectbox/jquery.selectbox-0.1.3.min.js"></script>
  <script src="/vendor/owl-carousel/owl.carousel.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="/vendor/counter-up/jquery.counterup.min.js"></script>
  <script src="/vendor/isotope/isotope.min.js"></script>
  <script src="/vendor/isotope/jquery.fancybox.pack.js"></script>
  <script src="/vendor/isotope/isotope-triger.js"></script>
  <script src="/vendor/countdown/jquery.syotimer.js"></script>
  <script src="/vendor/velocity/velocity.min.js"></script>
  <script src="/vendor/smoothscroll/SmoothScroll.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>