---
layout: default
---
{% include page-title.html title=page.title page="Games" %}
 <!-- MAIN SECTION -->
<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <aside>
          <div class="panel panel-default eventSidebar">
              <div class="panel-heading bg-color-1 border-color-1">
                <h3 class="panel-title">Game Details</h3>
              </div>
              <div class="panel-body">
                <ul class="media-list">
                  <li class="media">
                    <div class="media-left iconContent bg-color-4">
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-4">Rating</h4>
                      <p>{% include star-rating.html stars=page.stars %}</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left iconContent bg-color-2">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-2">Players</h4>
                      <p>{{page.stats.players}}</p>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left iconContent bg-color-3">
                      <i class="fa fa-child" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-3">Ages</h4>
                      <p>{{page.stats.age}}</p>
                    </div>
                  </li>
                  <li class="media iconContet">
                    <div class="media-left iconContent bg-color-5">
                      <i class="fa fa-clock" aria-hidden="true"></i>
                    </div>
                    <div class="media-body iconContent">
                      <h4 class="media-heading color-5">Play Time</h4>
                      <p>{{page.stats.duration}}</p>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </aside>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12 block">
        <div class="thumbnail thumbnailContent alt">
          <img src="//via.placeholder.com/870x470" alt="image" class="img-responsive">
          <div class="caption border-color-1 singleBlog">
            {{content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>